.nav-pills .nav-link {
  color: var(--bs-secondary);
  border: 1px solid #dee2e6;
  background-color: #fff;
  margin-bottom: 5px;
}
.nav-pills .nav-link.active {
  background-color: var(--color-primary);
  color: #fff;
  border-color: var(--color-primary);
}