.hero-section {
  background: #ffffff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero-section h1 {
  font-size: 30px;
  color: #333;
}

.search-bar-hero {
  margin: 0 auto;
}

:deep(.btn-hero-custom) {
  background-color: #daecff;
  border: 1.5px solid #79bcff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
  display:flexbox;
  align-items: center;
  justify-content: center;
}

:deep(.btn-hero-custom:hover) {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
}

:deep(.hero-icon) {
  font-size: 50px;
}

.button-container {
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.button-item {
  flex: 1 1 auto;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-item p {
  font-size: 13px;
  color: #555;
  font-weight: 500;
  margin-bottom: 0;
}