.Picture-preview-placeholder {
  width: 100%;
  min-height: 300px;
  aspect-ratio: 2 / 3;
  background: #f8f9fa;
  border: 1px dashed #dee2e6;
  border-radius: 0.5rem;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-body {
  max-height: 50vh;
}