.Picture-preview-placeholder {
  width: 100%;
  min-height: 300px;
  aspect-ratio: 2 / 3;
  background: #f8f9fa;
  border: 1px dashed #dee2e6;
  border-radius: 0.5rem;
}
.modal {
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-body {
  max-height: 50vh;
}
@media (max-width: 576px) {
  .modal-dialog {
    margin: 0.5rem; /* Kurangi margin modal di HP */
  }
  .modal-content {
    border-radius: 0.5rem; /* Radius jangan kegedean */
  }
}