:root {
  --color-bg: #ffffff;
   --color-primary: #004754;
  --color-secondary: #CFAB7A;
  --color-text-dark: #333333;
  --color-text-light: #ffffff;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Background gradasi */
  background: linear-gradient(180deg, #e7eaf1 100%, #dcf0ff 100%);
  color: var(--color-text-dark);
  overflow-x: hidden;
}
.btn-primary {
  background-color: var(--color-primary) !important;
  border-color: var(--color-primary) !important;
}
.btn-primary:hover {
    background-color: #A03162 !important;
    border-color: #A03162 !important;
}
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
